/*COLORES:
BLUE: #67AECA
AMETHYST: #675682
JEWEL: #5F055F
ROSE: #E52A6F

SECUNDARIOS:
#520e44
#410d36
#330c2a*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #5f055f;
}

header>img{
    float: none;
    max-width: 300px;
    max-height: fit-content;
    padding-left: 570px;
    padding-right: 600px;
}

body{ 
    color: whitesmoke;
    width: auto;
   background-color: #675682;;
}

/* GENERALES BARRA*/

nav{
    text-align: center;
    width: auto;
}

nav ul{
    list-style-type: none;
}

nav li{
    line-height: 1em;
    min-width: 140px;
    padding-left: 30px;
}

nav a{
    color: whitesmoke;
    display: block;
    padding: 1em;
    text-decoration: none;
}

.barra a:hover{
    background-color: #520e44;
}

#sesion{
    padding-left: 400px;
    margin: 0%;
}

/* PRIMER NIVEL*/
.barra{
    background-color: #5f055f;
    width: 100%;
    overflow: hidden;
}

.barra>li{
    float: left;
}

/* SEGUNDO NIVEL*/
.barra>li>ul{
    position: absolute;
    display: none;
}

.barra>li:hover ul{
    display: block;
}

.barra2>li a{
    background-color: #520e44;
    overflow: hidden;
}

.barra2>li>a:hover{
    background-color: #410d36;
}

/* TERCER NIVEL */
.barra li ul{
    display:none;
    position:absolute;
    min-width:140px;
}
.barra li:hover > ul {
    display:block;
}
.barra li ul li {
    position:relative;
}    
.barra li ul li ul {
    right: -140px; 
    top:0;
}
.barra3>li>a:hover{
    background-color: #410d36;
}

/*Carrito botón*/
.carrito{
    position:absolute;
    left: 1400px;
    background-color: #E52A6F;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

a>.carritoimg{
    max-width: 40px;
}

/*SECCIONES*/
/*Titulares*/
#name{
    padding-left: 50px;
}


/*imágenes*/
.categoria{
    margin: 50px;
}

figure>figcaption{
    color: whitesmoke;
}

figure>a img{
    max-width: 20%;
}


/*
section>a{
    padding: 0%;
    text-decoration: none;
}

.categoria>div>a img{
    max-width: 20%;
    margin: 30px;
    position: relative;
}*/

footer{
    background-color: #5f055f;
    padding: 10px;
    padding-bottom: 30px;
    color: whitesmoke;
    text-align: center;
    line-height: 20px;
    margin: 50px;
    border-radius: 15px;
}