/*COLORES:
BLUE: #67AECA
AMETHYST: #675682
JEWEL: #5F055F
ROSE: #E52A6F

SECUNDARIOS:
#520e44
#410d36
#330c2a*/

/*GENERAL*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{ 
    color: whitesmoke;
    padding: auto;
    background-image: url("../img/inglesfondo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body::-webkit-scrollbar{
    width: 5px;
    background-color: white;
}

body::-webkit-scrollbar-thumb{
    background-color: #E52A6F;
    border-radius: 5px;
}

/*PARTE SUPERIOR: imagen de logo*/

#top{
    display: flex;
}

header{
    background-color: #5f055f;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    max-width: 200px;
}

/* GENERALES BARRA*/

nav{
    text-align: center;
    width: auto;
}

nav ul{
    list-style-type: none;
}


nav li{
    line-height: 1em;
    min-width: 140px;
    padding-left: 30px;
}

nav a{
    color: whitesmoke;
    display: block;
    padding: 1em;
    text-decoration: none;
}

ul li ul{
    display:none;
    position:absolute;
}

ul li:hover >ul{
    display: block;
}

ul li ul li{
    position: relative;
}

ul li ul li ul{
    left: 157px;
    top: 0;
    background-color: #ffffff;
    border-radius: 5px;
    padding-left:0px;
}

ul li ul li ul li{
    position: relative;
    padding: 5px;
    text-align: center;
}

.dropdown-menu2 li{
    padding-top: 5px;
    padding-bottom: 5px;
}

/*CONTENIDO*/

h1{
    font-size: 45px;
}

h5{
    font-weight: lighter;
}

h3{
    font-weight: lighter;
    font-size: 15px;
}


/*CARRITO BOTÓN*/
.carrito{
    position: fixed;
    z-index: 90;
    right: 0vmax;
}

.carritoimg{
    max-width: 50px;
    background-color: #E52A6F;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 5px;
}


/*INFO*/

#content{
    padding: 100px;
    padding-top: 60px;

    display: flex;
    gap: 50px;

    justify-content: center;
    align-items: center;
}

.producto{
    padding: 35px;
}

.producto img{
    width: 480px;
    height: 480px;
    object-fit: cover;
}

.descripcion{
        padding: 50px;
}

/*Botones*/

.botones{
    position: relative;
    top: 30px;
    left: 0px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.botones a{
    text-decoration: none;
    color: whitesmoke;
}

.agregarcarrito{
    text-align: center;
    background-color: #67AECA;
    padding: 10px;
    max-width: 180px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    list-style: none;
}

.agregarcarrito:hover{
    background-color: #5496b1;
}

.comprar{
    text-align: center;
    background-color: #E52A6F;
    padding: 10px;
    max-width: 150px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    list-style: none;
}

.comprar:hover{
    background-color: #cf2362;
}

/*Imágenes de sugerencia*/

.recomendaciones{
    text-align: center;
    padding-top: 50px;
    margin: 0%;
}

.imgrec{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    padding-top: 0px;
    gap: 10px;
}

.imgrec img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width:600px){
    .imgrec{
        grid-template-columns: repeat(4, 1fr);
    }
}

.rec{
    background-color: #675682;
    padding: 10px;
    font-size: 20px;
}

/*MODAL*/
.modal1{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: #675682bd;
    display: flex;
    
    opacity: 0; 
    pointer-events: none;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
}

.modal__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: whitesmoke;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
}

.modal__title{
    font-size: 1.5em;
    color: #5f055f;
}

.modal__img{
    width: 90%;
    max-width: 300px;
}

.modal__close{
    text-decoration: none;
    color: white;
    background-color: #5f055f;
    padding: 8px 3em;
    border: 1px solid;
    border-radius: 10px;
    display: inline-block;
    font-weight: 300;
    transition: backgrpud-color 0.3s;
}

.modal__close:hover{
    color: #5f055f;
    background-color: white;
}

footer{
    background-color: #5f055f;
    padding: 10px;
    padding-bottom: 30px;
    color: whitesmoke;
    text-align: center;
    line-height: 20px;
    margin: 50px;
    border-radius: 15px;
}

small{font-weight: bold;}

footer p{font-weight: lighter;}

/*MEDIA QUERIES*/
/*Para móviles*/
@media (min-width: 320px){
    .carrito{
        position: fixed;
        z-index: 90;
        right: 0vmax;
    }
    
    .carritoimg{
        max-width: 35px;
        background-color: #E52A6F;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: 5px;
    }

    #content{
        padding: 20px;
        padding-top: 20px;

        /*background-color: #e6cd2a;*/
    
        display: flex;
        gap: 50px;
        flex-wrap: wrap;

        justify-content: center;
         align-items: center;
    }

    .producto{
        padding-bottom: 0px;
    }

    .producto img{
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
    }
    
    .descripcion{
        padding: 0px;
    }
    
    .descripcion h1{
        font-size: 25px;
    }

    .descripcion h5{
        font-size: 15px;
    }

    h5 b{
        font-weight: bold;
    }
    
    article{
        line-height: 15px;
    }

    /*Botones*/

.botones{
    position: relative;
    top: 30px;
    margin: 0%;
}

.botones ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    justify-content: center;
    align-items: center;
}


.agregarcarrito{
    text-align: center;
    background-color: #67AECA;
    padding: 10px;
    max-width: 180px;
    border-radius: 30px;
    list-style: none;
}

.agregarcarrito:hover{
    background-color: #5496b1;
}

.comprar{
    text-align: center;
    background-color: #E52A6F;
    padding: 10px;
    max-width: 150px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    list-style: none;
}

.comprar:hover{
    background-color: #cf2362;
}
   
}

/*Para tablets*/
@media (min-width: 768px){
    .carrito{
        position: fixed;
        z-index: 90;
        right: 0vmax;
    }
    
    .carritoimg{
        max-width: 40px;
        background-color: #E52A6F;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: 5px;
    }

    #content{
        padding: 20px;
        padding-top: 0px;

       /*background-color: #2a69e6;*/
    
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        justify-content: center;
         align-items: center;
    }


    .producto img{
        width: 280px;
        height: 280px;
        object-fit: cover;
        border-radius: 10px;
    }
    
    .descripcion{
        padding-top: 50px;
    }
    
    .descripcion h1{
        font-size: 20px;
    }

    .descripcion h5{
        font-size: 15px;
    }

    h5 b{
        font-weight: bold;
    }
    
    article{
        line-height: 5px;
        font-size: 12px;
    }

    article h3{
        font-size: 12px;
    }

    /*Botones*/

.botones{
    position: relative;
    top: 30px;
    
    justify-content: center;
    align-items: center;
}

.botones ul{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;

    justify-content: center;
    align-items: center;
}


.agregarcarrito{
    text-align: center;
    background-color: #67AECA;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 180px;
    border-radius: 30px;
    list-style: none;
}

.agregarcarrito:hover{
    background-color: #5496b1;
}

.comprar{
    text-align: center;
    background-color: #E52A6F;
    padding: 5px;
    max-width: 150px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    list-style: none;
}

.comprar:hover{
    background-color: #cf2362;
}

.botones a{
    font-size: 12px;
}

}

/*Para computadoras con un ancho menor o igual a 1200px*/
@media (min-width: 992px){
    .carrito{
        position: fixed;
        z-index: 90;
        right: 0vmax;
    }
    
    .carritoimg{
        max-width: 40px;
        background-color: #E52A6F;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: 5px;
    }

    #content{
        padding: 20px;
        padding-top: 0px;

        /*background-color: #2ae643;*/
    
        display: flex;
        gap: 50px;
        flex-wrap: wrap;

        justify-content: center;
         align-items: center;
    }


    .producto img{
        width: 450px;
        height: 450px;
        object-fit: cover;
        border-radius: 5px;
    }
    
    .descripcion{
        padding-top: 50px;
    }
    
    .descripcion h1{
        font-size: 40px;
    }

    .descripcion h5{
        font-size: 25px;
    }

    h5 b{
        font-weight: bold;
    }
    
    article{
        line-height: 15px;
        font-size: 20px;
    }

    article h3{
        font-size: 20px;
    }

    /*Botones*/

.botones{
    position: relative;
    top: 30px;
    
    justify-content: center;
    align-items: center;
}

.botones ul{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;

    justify-content: center;
    align-items: center;
}


.agregarcarrito{
    text-align: center;
    background-color: #67AECA;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 180px;
    border-radius: 30px;
    list-style: none;
}

.agregarcarrito:hover{
    background-color: #5496b1;
}

.comprar{
    text-align: center;
    background-color: #E52A6F;
    padding: 10px;
    max-width: 150px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    list-style: none;
}

.comprar:hover{
    background-color: #cf2362;
}

.botones a{
    font-size: 15px;
}

}